<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CsidServlet</servlet-name>
        <servlet-class>CSIDServlet</servlet-class>
        <init-param>
            <param-name>function</param-name>
            <param-value>getApiCount</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CsidServlet</servlet-name>
        <url-pattern>/CSID_Servlet</url-pattern>
        <load-on-startup>1</load-on-startup>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
